In [1]:
spark

In [12]:
from pyspark.sql.functions import col

infile = '/home/master/iii_projects_data/kkbox_churn/raw_data/transactions_v2.csv'
df0 = spark.read.format('csv').option('header','true').load(infile)

In [13]:
df0.count()

1431009

In [4]:
df0.show(4)

+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
|                msno|payment_method_id|payment_plan_days|plan_list_price|actual_amount_paid|is_auto_renew|transaction_date|membership_expire_date|is_cancel|
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
|++6eU4LsQ3UQ20ILS...|               32|               90|            298|               298|            0|        20170131|              20170504|        0|
|++lvGPJOinuin/8es...|               41|               30|            149|               149|            1|        20150809|              20190412|        0|
|+/GXNtXWQVfKrEDqY...|               36|               30|            180|               180|            1|        20170303|              20170422|        0|
|+/w1UrZwyka4C9oNH...|               36|               30|            180|               180|            1|        20170329|              20170331|        1|
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
only showing top 4 rows

In [19]:
from pyspark.sql.functions import min
df0.select(min('transaction_date')).show()

+---------------------+
|min(transaction_date)|
+---------------------+
|             20150101|
+---------------------+

In [21]:
from pyspark.sql.functions import col
df1 = df0.where(col('transaction_date') < '20170301')
df1.count()

361187

In [25]:
# output
outfile = 'file:///home/master/iii_projects_data/kkbox_churn/data01/from_raw_transactions_v2/transac_date_before_201703'
df1.write.format('csv').option('header','true').save(outfile)

In [22]:
from pyspark.sql.functions import col
df1 = df0.where(col('transaction_date') < '20170301') \
      .select(col('transaction_date').cast('int').alias('trans_date'))
df1.show(4)

+----------+
|trans_date|
+----------+
|  20170131|
|  20150809|
|  20151112|
|  20150731|
+----------+
only showing top 4 rows

In [23]:
from pyspark.sql.functions import col, floor
df2 = df1.select(floor(col('trans_date') / 10000).alias('year'))
df2.show(4)

+----+
|year|
+----+
|2017|
|2015|
|2015|
|2015|
+----+
only showing top 4 rows

In [24]:
df2.groupBy('year').count().show()

+----+------+
|year| count|
+----+------+
|2016|128034|
|2017|161787|
|2015| 71366|
+----+------+