In [1]:
spark

In [2]:
dir0 = 'file:///home/master/iii_projects_data/kkbox_churn/data01/from_raw_transactions_v1/'
infile = dir0 + '2.member_active_gaps'
df_ch = spark.read.format('csv').option('header','true').load(infile)

In [3]:
df_ch.show(10)

+--------------------+----------------+----------------+--------------------+
|                msno|first_start_date|last_expire_date|                gaps|
+--------------------+----------------+----------------+--------------------+
|vtuHZCvcO+OibfbNk...|      2016-09-03|      2016-09-09|                null|
|vu7koC2MWxlAMYo+g...|      2016-11-24|      2016-12-01|                null|
|vundw7zL1tN01QDnI...|      2016-02-29|      2016-11-04|2016-03-31_2016-0...|
|vvBRkcEYT08xd3Otn...|      2016-12-29|      2017-03-17|2017-01-29_2017-0...|
|vvY6i2UQ75e98bolx...|      2015-11-13|      2017-03-14|2015-12-14_2015-1...|
|vvgDmw/rnJCxJecsd...|      2016-07-22|      2016-08-28|                null|
|vvqgpktiwHD53MQ3D...|      2016-06-27|      2017-02-21|2016-08-03_2016-0...|
|vwo5weKuiObhggZDS...|      2016-11-11|      2016-11-18|                null|
|vyw0ta6jOWr4LT4ix...|      2015-11-21|      2017-03-05|2016-02-22_2016-0...|
|vzPlNHVhPeUOLUfNb...|      2015-12-16|      2016-04-20|                null|
+--------------------+----------------+----------------+--------------------+
only showing top 10 rows

In [21]:
sectionNo = '04'

In [22]:
infile = 'file:///home/master/yenWorkSpace/kkbox/kkbox_churn/kkbox_data/user_logs_split/'+sectionNo
df_ul = spark.read.format('csv').option('header','false').load(infile)

In [23]:
df_ul.show(3)

+--------------------+--------+---+---+---+---+---+---+---------+
|                 _c0|     _c1|_c2|_c3|_c4|_c5|_c6|_c7|      _c8|
+--------------------+--------+---+---+---+---+---+---+---------+
|MiE8nCT5pAhiBRiOD...|20150314|  0|  0|  0|  0|  3|  3| 783.8920|
|YgP89u1TnJH7nvgjv...|20150226|  2|  0|  0|  1| 12| 14|3582.4390|
|YgP89u1TnJH7nvgjv...|20150429|  0|  1|  1|  1| 10| 13|2964.9540|
+--------------------+--------+---+---+---+---+---+---+---------+
only showing top 3 rows

In [24]:
# join
df1 = df_ul.join(df_ch, df_ul['_c0']==df_ch['msno'], 'left_semi')

In [25]:
# output
outfile = 'file:///home/master/iii_projects_data/kkbox_churn/data01/userlogs/members-no-renew-cl3/'+sectionNo
df1.write.format('csv').option('header','false').save(outfile)