In [1]:
spark

In [2]:
from pyspark.sql.functions import col

infile = 'file:///home/cloudera/2.kkbox_churn/raw_data/transactions_v2.csv'
df0 = spark.read.format('csv').option('header','true').load(infile)

In [3]:
df0.count()

1431009

In [3]:
df0.printSchema()

root
 |-- msno: string (nullable = true)
 |-- payment_method_id: string (nullable = true)
 |-- payment_plan_days: string (nullable = true)
 |-- plan_list_price: string (nullable = true)
 |-- actual_amount_paid: string (nullable = true)
 |-- is_auto_renew: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- membership_expire_date: string (nullable = true)
 |-- is_cancel: string (nullable = true)

## trans. & exp. dates

In [11]:
from pyspark.sql.functions import concat_ws
df1 = df0.select('msno',
                 concat_ws('_','transaction_date', 'membership_expire_date')
                   .alias('trans_exp_date'))
df1.show(5)

+--------------------+-----------------+
|                msno|   trans_exp_date|
+--------------------+-----------------+
|++6eU4LsQ3UQ20ILS...|20170131_20170504|
|++lvGPJOinuin/8es...|20150809_20190412|
|+/GXNtXWQVfKrEDqY...|20170303_20170422|
|+/w1UrZwyka4C9oNH...|20170329_20170331|
|+00PGzKTYqtnb65mP...|20170323_20170423|
+--------------------+-----------------+
only showing top 5 rows

In [12]:
df1.select(min('trans_exp_date')).show()

+-------------------+
|min(trans_exp_date)|
+-------------------+
|  20150101_20170407|
+-------------------+

In [7]:
from pyspark.sql.functions import min
df0.select(min('transaction_date'), min('membership_expire_date')).show()

+---------------------+---------------------------+
|min(transaction_date)|min(membership_expire_date)|
+---------------------+---------------------------+
|             20150101|                   20160419|
+---------------------+---------------------------+

### trans. date <= 20170228

In [4]:
from pyspark.sql.functions import col
df1 = df0.where(col('transaction_date') < '20170301')
df1.count()

361187

In [9]:
from pyspark.sql.functions import min
df1.select(min('membership_expire_date')).show()

+---------------------------+
|min(membership_expire_date)|
+---------------------------+
|                   20160419|
+---------------------------+

In [5]:
# output
outfile = 'file:///home/cloudera/2.kkbox_churn/data01/from_transaction_v2/' \
          + 'trans_date_before_20170301'
df1.write.format('csv').option('header','true').save(outfile)